<header class="header" style="background:#cbd6e2">
<div style="display:flex; align-items:center; justify-content:space-between; width:100%; padding:0 24px;">


  {# Main header #}
        <div class="header__logo header__logo--main" style="display:flex; align-items:center; gap:10px; flex-shrink:0;">
          <span><img src="../../images/Mantis Image.png" /></span>  <span style="font-size:28px; line-height:1; white-space:nowrap;">Mark Wroblewski</span>
    </div>

    {# Header navigation column #}

    <div class="header__column" style="width:5%">

      <div class="header__row-1">
        <div class="header--toggle header__navigation--toggle"></div>
        {% if content.translated_content|length or is_listing_view and group.translations %}
          <div class="header--toggle header__language-switcher--toggle"></div>
        {% endif %}
        <div class="header--toggle header__search--toggle"></div>
        <div class="header__close--toggle"></div>
        <div class="header__navigation header--element">
          {% module "navigation-primary"
            path="../../modules/menu",
            label="Primary navigation"
          %}
        </div>
      </div>

    </div>

  </div>


</header>